	{% extends "layout.html" %}
	{% block title %}{{ cat_name }}{% endblock %}
	{% block content %}
	
		<h1 style="text-align: center">{{ cat_name }}</h1>
		
		
		<div>
			<div class="text-center">
				<img src="{{ cat_image }}" class="mw-75; mh-125; rounded">
			</div>
		
			<div class="text-center" style="padding: 10px 0px 10px 0px">
				<p class="lead">{{ cat_description }}</p></li>
			</div>
		</div>
		
		<div class="text-left" style="padding: 10px 0px 10px 0px">
			<a href="{{ cat_wiki }}" target="_blank" class="btn btn-outline-warning">WIKIPEDIA</a><br></li>
		</div>
		
		<a href={{ url_for('homepage') }} class="btn btn-outline-primary btn-sm" role="button">Back</a>
	{% endblock %}
	